body{
  height: 470px;
  width:  700px;
}

#encryptoLogo {
  float:right;
  margin-top: -40px;
}

img{
  float: right;
  height: 80px;
  width:  80px;
}

legend{
  background-image: url('encryptologo.png');
}

h1{
  color: red;
}



label{
  float: left;
  width: 15%;
  margin-right: 0.5em;
  padding-top:  0.2em;
  font-weight: bold;
}

textarea{
  width: 97%;
}
